name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        java: [ '8', '11', '15' ]
    steps:
    - uses: zendesk/checkout@v2
    - name: Set up JDK
      uses: zendesk/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: print Java version
      run: java -version
    - name: Build
      run: ./gradlew clean build
